{% extends 'base.html' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            {% if course.image %}
            <img src="{{ course.image.url }}" class=" img-fluid detailsCourseImage mb-3" alt="{{ course.title }}">
            {% endif %}
            <h2>{{ course.title }}</h2>

            <div class="mb-4">{{ course.description|safe }}</div>

            {% if user.userprofile.is_student %}
            {% if is_enrolled %}
            <form method="post" action="{% url 'unenroll_course' course.id %}" class="enroll-form">
                {% csrf_token %}
                <div class="justify-content-center d-flex"> 
                <button type="submit" class="btn unenroll-btn">Unenroll</button>
            </div>
            </form>
            {% else %}
            <form method="post" action="{% url 'enroll_course' course.id %}" class="enroll-form">
                {% csrf_token %}
                <div class="justify-content-center d-flex"> 

                <button type="submit" class="btn enroll-btn">Enroll Now</button>
            </div>
            </form>
            
            {% endif %}
            {% endif %}

            {% if user == course.teacher %}
            <div class="mb-4">
                <a href="{% url 'course_update' course.pk %}" class="btn btn-primary">Edit Course</a>
                <a href="{% url 'course_delete' course.pk %}" class="btn btn-danger">Delete Course</a>
                <a href="{% url 'lesson_create' course.id %}" class="btn btn-success">Add Lesson</a>
            </div>
            {% endif %}
        </div>

    <div class="col-md-3">
        <div class="course-outline-card  ">
            <div class="course-outline-header">
                <h3 class="course-outline-title text-center">Course Outline</h3>
            </div>
                <div class="list-group list-group-flush  course-outline-list  gap-3">
 
                    {% for lesson in course.lessons.all %}
                    {% if is_enrolled %}
                    <a href="{% url 'lesson_detail' lesson.pk %}" class="course-outline-item d-flex align-items-center ">
                        <img alt="Play Icon" class="  me-2" src="../../static/admin/img/play_circle_filled_24px.svg">
                          {{ lesson.title }}
                    </a>
                    {% else %}
                    <li href="#" class=" ">
                        <img alt="Play Icon" class="  me-2" src="../../static/admin/img/play_circle_filled_24px.svg">

                        {{ lesson.title }}
                    </li>
                    {% endif %}
                    {% empty %}
                    <div class="list-group-item">No lessons available.</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}