{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="container-fluid course-list">
    <div>
        <img src="../../static/admin/img/Hero.png">
    </div>
    <h2 class="mb-4 textHeader">Available Courses</h2>
    <div class="row gap-4 justify-content-center ">
        {% for course in courses %}
            <div class="col-lg-3 col-md-6 mb-4  align-items-stretch courseCards">
                <div class=" h-100  p-3 flex-column justify-content-end d-flex   text-center">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" class="  card-img-top course-image mx-auto" alt="{{ course.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description|safe|truncatewords:30 }}</p>
                    </div>
                    <div class="card-footer mt-auto">
                        <a href="{% url 'course_detail' course.pk %}" class="btn btn-primary">View Course</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>No courses available.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
